
.container {
    text-align: center;
    margin-top: 2.5%;
}

.navbar {
    border-bottom: 5px solid #1b83ac;
}

#footer {
    background-color: #2d2d2d;
    border-top: #1b83ac solid 5px;
    text-align: center;
    margin-top: 2.5%;
    color: #ffffff;
}

#btn {
    text-align: center;
}