
.container {
    text-align: center;
    margin-top: 2.5%;
}

.navbar {
    border-bottom: 5px solid #1b83ac;
    background-color: #2d2d2d;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: .5%;
    padding-bottom: 3.5%;
    background-color: #555551;
    color: azure;
}

#footer {
    background-color: #2d2d2d;
    border-top: #1b83ac solid 5px;
    text-align: center;
    margin-top: 2.5%;
    color: #ffffff;
}

#pagination {
    text-align: center;
}

.btn {
    text-align: center;
}